.cbx-icon-jobs {
  background-image: url('../icons/app/icon_jobs.svg');
}

.cbx-icon-jobs-white {
  background-image: url('../icons/app/icon_jobs_white.svg');
}

.cbx-icon-category {
  background-image: url('../icons/app/icon_category.svg');
}

.cbx-icon-category-white {
  background-image: url('../icons/app/icon_category_white.svg');
}

.cbx-icon-tag {
  background-image: url('../icons/app/icon_tag.svg');
}

.cbx-icon-tag-white {
  background-image: url('../icons/app/icon_tag_white.svg');
}