#adminmenu .wp-menu-open#menu-posts-cbxpetition a.menu-top {
  background: $app_primary_color !important;
  color: #fff !important;
}

#menu-posts-cbxpetition .wp-submenu li.current,
#menu-posts-cbxpetition .wp-submenu li.current:hover {
  background: lighten($app_primary_color, 10%) !important;
  color: #fff !important;
  font-weight: bold !important;
}

#menu-posts-cbxpetition .wp-submenu li:hover {
  background: lighten($app_primary_color, 20%) !important;
  color: #fff !important;
  font-weight: normal !important;
}

#menu-posts-cbxpetition .wp-submenu li a:focus,
#menu-posts-cbxpetition .wp-submenu li a:hover {
  color: #fff !important;
}