/*//@import "chota/setting_fields/color"; //this is imported in chota
//@import "chota/setting_fields/multicheck";
//@import "chota/setting_fields/checkbox";

//@import "chota/setting_fields/file";*/




@import "../../../../../cbxdesign/chota/setting_fields/file";
@import "../../../../../cbxdesign/chota/setting_fields/setting_form";

#cbxpetition-setting{
  #setting-error-settings_updated{
    display: flex !important;
    padding-left: 5px !important;
    padding-right: 5px !important;

    p{
      line-height: 30px;
      margin-bottom: 0 !important;
    }

    button{
      margin-left: auto;
    }
  }
}
/*.description_note_on{
  color : var( --color-success);
}
.description_note_off{
  color : var( --color-error);
}*/


/*.global_setting_heading_section {
  h3 {
    &.setting_heading {
      cursor: pointer;
      color: var(--color-primary);
      font-size: 18px !important;
      font-weight: normal  !important;
      line-height: 1.5 !important;
      background-color: #FFF5EE;
      padding: 5px 8px !important;
      margin-bottom: 8px !important;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
    }

    a {
      &.setting_heading_toggle {
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        text-align: center;

        &:before{
          content: '-';
          font-size: inherit;
          line-height: inherit;
        }
      }
    }
  }


  h4 {
    &.setting_subheading {
      color: var(--color-primary);
      font-size: 22px;
      font-weight: 700;
      background-color: rgba(0, 90, 224, .06);
      padding: 15px 20px;
      border-radius: 5px;
    }
  }

  .description {
    padding-left: 20px;
  }
}

.global_setting_heading_section_closed {
  h3 {
    &.setting_heading {
      margin: 0 !important;

      a {
        &.setting_heading_toggle {
          //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='%23f44336'%3E%3Cpath fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z' clip-rule='evenodd' /%3E%3C/svg%3E");

          background-repeat: no-repeat;
          background-size: contain;


          &:before{
            //width: 26px;
            //height: 26px;
            content: '+';
            //display: block;
          }
        }
      }

    }
  }

  .description {
    display: none;
  }
}

#global_setting_group_actions {
  margin-top: 20px;
  display: none;
  margin-bottom: 0;

  @media screen and (max-width: 782px) {
    margin-top: 10px;
    text-align: center;
    .pull-right {
      float: none !important;
    }
  }
}

.magic_radio_fields {
  .magic-radio-field{
    margin-bottom: 10px;
  }
  &.radio_fields_inline{
    .magic-radio-field{
      display: inline-block;
      margin-right: 10px;

      &:last-child{
        margin-right: 0;
      }
    }
  }
}

.checkbox_field{
  &.magic_checkbox_field{
    margin-bottom: 10px;
  }
}



.checkbox_fields_check_actions{
  margin-bottom: 20px !important;
}

.magic_checkbox_fields{
  &.checkbox_fields_sortable{
    .checkbox_field_placeholder {
      outline: 1px dashed #000;
      height: 30px;
    }
    .checkbox_field{
      padding-left: 40px;
      .checkbox_field_handle{
        width: 20px;
        height: 20px;
        margin-right: 20px;
        margin-left: -30px;
        cursor: move;
        background-image: url("../images/icon_move.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        float: left;
      }
    }
  }
  &.checkbox_fields_inline{
    .checkbox_field{
      display: inline-block;
      margin-right: 10px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}

.xyz-filter-wrap {
  display: flex;

  .xyz-filter-selected-wrap {
    display: flex;

    .xyz-filter-selected {
      border-right: 0 !important;
      border-radius: 4px 0 0 4px !important;

    }

    .xyz-filter-selected-remove {
      border-radius: 0 4px 4px 0 !important;
      margin-left: 0 !important;
      cursor: pointer;
    }
  }
}

.cbx-chota{
  .setting-form-wrap {
    display: flex;

    @media screen and (max-width: 782px) {
      display: block;
    }

    .setting-tabs-nav{
      margin-top: 20px;
      display: block;
      width: 250px;
      margin-right: 10px;

      border-right: 1px solid var(--color-lightGrey);

      a{
        display: block;
        text-align: left;
        border-radius: 0;
        padding: 8px 15px;
        border-bottom: 0 none;
        margin-bottom:5px;
        border-left: 2px solid #fff;

        &.active{
          margin-bottom: 0;
          //background-color: rgba(93,93,255,.13);
          background-color: #FFF5EE;
          color: var(--color-primary);
          border-bottom: 0 none;
          border-left: 2px solid var(--color-primary);
        }
        &:hover{
          background-color: transparent;
          color: var(--color-primary);
          border-bottom: 0 none;
          border-left: 2px solid var(--color-grey);
        }
      }
    }

    #setting-tabs-contents{
      flex: 2;
    }

    #setting-tabs-nav-wrap{
      .selecttwo-select-wrapper {
        width: 100% !important;
        display: none;

        select {
          width: 100% !important;
        }

        .select2-container--cbx {
          width: 100% !important;
          max-width: 100% !important;
        }
      }
    }


    @media screen and (max-width: 782px) {

      #setting-tabs-nav-wrap{
        margin-top: 20px;
        .setting-tabs {
          display: none !important;
        }

        .selecttwo-select-wrapper{
          display: block !important;
        }
      }

    }
  }
}





.setting_pages_actions_wrapper{
  display: flex;
  flex-wrap: wrap;

  .selecttwo-select-wrapper{
    width: 100% !important;
    max-width: 500px !important;
  }

  .setting_pages_actions{
    padding-left: 10px;
    flex: 2;
  }
}*/

